<template>
  <view class="container">
    <view class="news-detail">
      <view class="news-detail-title">{{ infromList.title }}</view>
      <!-- 、、属于一个富文本编辑器  infromList这是数据  content这是内容   :nodes这个是节点列表 属性ArrAy 数组-->
      <rich-text :nodes="infromList.content" ></rich-text>
    </view>
  </view>
</template>

<script>
import { informDel } from "@/service/base";
export default {
  //数据
  data() {
    return {
      infromList: [],
    };
  },
  //指向
  onLoad(options) {
    this.formDel(options.id);
  },
  methods: {
    // 通过htmlstr用于html5  replace 专门正则字符串的写法
    formatHTML(htmlStr){
      return htmlStr.replace(/width\=\"\d+"/g,'width=100%').replace(/height\=\"\d+"/g,"")
    },
    async formDel(id) {
      //获取到数据的id
      const res = await informDel(id);
      //把我上边生成好放进这个内容
      res.content = this.formatHTML(res.content)
      //传入定义好的空数据中
      this.infromList = res;
      console.log( this.infromList);
    },
  },
};
</script>

<style scoped>
.news-detail {
  padding: 20rpx;
}

.news-detail .news-detail-title {
  font-size: 32rpx;
  font-weight: bold;
  line-height: 50rpx;
  padding: 20rpx;
}


</style>