/<template>
<!--  -->
  <view class="content">
    <!-- 身体 -->
    <main @change="radioChange">
      <view class="main" v-for="(item, index) in GoodList" :key="index">
        <view class="left">
          <view class="left_top">
            <view class="left_top_left">
              <text>{{ item.receiver }}</text>
            </view>
            <view class="left_top_rigth">
              <text>{{ item.mobile }}</text>
            </view>
          </view>
          <view class="left_buttom">
            <text>河北省>邯郸市>临漳县{{ item.addr }}</text>
          </view>
          <view class="left_buttom_2">
            <label class="uni-list-cell">
              <radio
                color="#eb2444"
                :value="item.addrId"
                :checked="item.commonAddr === 1 ? true : false"
              />
              <text>设为默认地址</text>
            </label>
          </view>
        </view>
        <view class="rigth" @click="updatele(item.addrId)">
          <image src="../../static/icon/revise.png"></image>
        </view>
      </view>
    </main>

    <!-- 脚部 -->
    <footer>
      <button @click="addList">新增收货地址</button>
    </footer>
  </view>
  
</template>



<script>
import { requesGoods } from "../../service/goods";
export default {
  data() {
    return {
      GoodList: [],
      checked: true,
    };
  },
  // 
  mounted() {
    this.Goods();
  },
  methods: {
    // 点击跳转新增地址页面
    addList() {
      uni.navigateTo({ url: "/pages/address/Newaddress" });
    },

    async Goods() {
      const results = await requesGoods();
      this.GoodList = results;
      console.log(this.GoodList);
    },
    

    // 点击跳转修改删除页面 传过来当前的id 通过id来获取他的值
    updatele(id) {
      uni.navigateTo({ url: "/pages/address/UpdateNewaddress" });
      id
    },
  },
};


</script>

<style lang="scss" scoped>
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    width: 100%;
    height: calc(100% - 50px);
    background: #f3f3f3;
    font-size: 16px;

    .main {
      width: 100%;
      height: 130px;
      display: flex;
      border-bottom: 1px double #ccc;
      margin-top: 5px;
      background: #ffffff;
      .left {
        width: 80%;
        height: 100%;

        .left_top {
          width: 100%;
          height: 35%;
          display: flex;
          .left_top_left {
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
          }
          .left_top_rigth {
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
          }
        }
        .left_buttom {
          width: 100%;
          height: 35%;
          display: flex;
          align-items: center;
          border-bottom: 1px dashed #ccc;
          text {
            margin-left: 28px;
          }
        }
        .left_buttom_2 {
          width: 100%;
          height: 30%;
          position: relative;
          .uni-list-cell {
            position: absolute;
            left: 28px;
            top: 5px;
          }
        }
      }
      .rigth {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px dashed #ccc;
        image {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  footer {
    width: 100%;
    height: 50px;
    background: #c9c9c9;
    button {
      color: rgb(196, 44, 44);
    }
  }
}
</style>