<template>
  <view class="content">
    <!-- 顶部搜索 -->
    <view class="bg-sear">
      <view class="scrolltop">
        <view class="section" @click="toDetail()">
          <image src="@/static/icon/search.png" class="search-img"></image>
          <text class="placeholder">搜索</text>
        </view>
      </view>
    </view>

    <!-- 轮播图 -->
    <view class="uni-margin-wrap">
      <swiper
        class="swiper"
        circular
        :indicator-dots="true"
        :autoplay="true"
        :interval="2000"
        :duration="500"
        indicator-active-color="#00FFFF"
      >
        <swiper-item
          v-for="(val, index) in IndexImg"
          :key="index">
          <view class="swiper-item">
            <img :src="val.imgUrl" alt="" />
          </view>
        </swiper-item>
      </swiper>
    </view>

    <!--新品推荐 限时特惠 每日疯抢-->
    <view class="cat-item">
      <view class="item" @click="toClassifyPage">
        <image src="@/static/icon/newProd.png"></image>
        <text>新品推荐</text>
      </view>
      <view class="item" @click="todiscountProd">
        <image src="@/static/icon/timePrice.png"></image>
        <text>限时特惠</text>
      </view>
      <view class="item" @click="tomoreBuyProd">
        <image src="@/static/icon/neweveryday.png"></image>
        <text>每日疯抢</text>
      </view>
    </view>
    <!-- 通知 -->
    <view class="message-play" @click="toinform">
      <image src="@/static/icon/horn.png" class="hornpng"></image>
      <swiper
        vertical="true"
        autoplay="true"
        duration="1000"
        class="swiper-cont"
      >
        <block v-for="(val, index) in topNoticeList" :key="index">
          <swiper-item class="items">{{ val.title }}</swiper-item>
        </block>
      </swiper>
      <text class="arrow1"></text>
    </view>

    <!-- 标题+数据渲染 -->
    <view v-for="(item, index) in ProdTagList" :key="index">
      <!-- 每日上新 -->
      <view v-if="item.seq == 3" class="hot-sale">
        <view class="title">
          <view>{{ item.title }}</view>
          <view class="more" @click="goMRsx">更多</view>
          <view class="arrow"></view>
        </view>
        <view class="hotsale-item-cont">
          <view
            v-for="(val, index) in ProdList"
            :key="index"
            class="prod-items"
            @click="goDetail(val.prodId)"
          >
            <view class="hot-imagecont">
              <image
                :src="val.pic"
                class="hotsaleimg"
                v-if="
                  val.pic !==
                  'https://img.mall4j.com/2019/05/150d6c4a46914dbfa82690098b2ec4e7.jpg'
                "
              />
              <view v-else class="hotsaleimg"></view>
            </view>
            <view class="hot-text">
              <view class="hotprod-text">{{ val.prodName }}</view>
              <view class="prod-info">{{ val.brief }}</view>
              <view class="prod-text-info">
                <view class="price">
                  <text class="symbol">￥</text>
                  <text class="big-num">{{
                    val.price.toFixed(2).split(".")[0]
                  }}</text>
                  <text class="small-num">.{{
                    val.price.toFixed(2).split(".")[1]
                  }}</text>
                </view>

                <image
                  src="@/static/tabbar/basket-sel.png"
                  class="basket-img"
                ></image>
              </view>
            </view>
          </view>
        </view>
      </view>
      <!-- 商城热卖 -->
      <view v-if="item.seq == 2" class="hot-sale">
        <view class="title">
          <view>{{ item.title }}</view>
          <view class="more" @click="goSCrm">更多</view>
          <view class="arrow"></view>
        </view>
        <view class="hotsale-item-cont">
          <view
            v-for="val in ProdBabyList"
            :key="val.pic"
            class="prod-items"
            @click="goDetail(val.prodId)"
          >
            <dt
              class="hotsaleimg"
              v-if="
                val.pic !==
                'https://img.mall4j.com/2019/05/150d6c4a46914dbfa82690098b2ec4e7.jpg'
              "
            >
              <img :src="val.pic" alt="" />
            </dt>
            <view v-else class="hotsaleimg"></view>
            <dd class="hotprod-text">{{ val.prodName }}</dd>
            <dd class="prod-info">{{ val.brief }}</dd>
            <view class="prod-text-info">
              <dd class="price">
                <span class="symbol">￥</span>
               <text class="big-num">{{
                    val.price.toFixed(2).split(".")[0]
                  }}</text>
                  <text class="small-num">.{{
                    val.price.toFixed(2).split(".")[1]
                  }}</text>
              </dd>
              <image
                src="@/static/tabbar/basket-sel.png"
                class="basket-img"
              ></image>
            </view>
          </view>
        </view>
      </view>
      <!-- 更多宝贝 -->
      <view v-if="item.seq == 1" class="hot-sale">
        <view class="title">
          <view>{{ item.title }}</view>
        </view>
        <view class="prod-show">
          <dl
            v-for="(val, index) in ProdBabyList"
            :key="index"
            class="show-item"
            @click="goDetail(val.prodId)"
          >
            <dt class="more-prod-pic">
              <img :src="val.pic" alt="" class="more-pic" />
            </dt>
            <view class="prod-text-right">
              <dd class="prod-text">{{ val.prodName }}</dd>
              <dd class="prod-info">{{ val.brief }}</dd>
              <view class="b-cart">
                <dd class="price">
                  <span class="symbol">￥</span>
                 <text class="big-num">{{
                    val.price.toFixed(2).split(".")[0]
                  }}</text>
                  <text class="small-num">.{{
                    val.price.toFixed(2).split(".")[1]
                  }}</text>
                </dd>
                <image
                  src="@/static/tabbar/basket-sel.png"
                  class="basket-img"
                ></image>
              </view>
            </view>
          </dl>
        </view>
      </view>
    </view>
    <view class="empty-list">商品没有了</view>
  </view>
</template>

<script>
import "./index.css";
//接入登录权限的接口
import { _login } from "@/service/index";
import {
  indexImg,
  topNotice,
  ProdTag,
  prodListById,
  prodListBaby,
} from "@/service/base";

export default {
  data() {
    return {
      IndexImg: [], //轮播数据
      topNoticeList: [], //通知数据
      ProdTagList: [], //标题数据
      ProdList: [], //商品 每日上新 商城热卖 数据
      ProdBabyList: [], //商品  更多宝贝 数据
      RootSearch:[]
    };
  },
  onLoad() {
    // this.login();
    this.Image();
    this.topNotice();
    this.prodTag();
    // this.changeShopcarCountData();
    this.prodIdList();
    this.prodBabyList();
  },
  methods: {
    //登录 请求token
    // async login() {
    //   const [, { code }] = await uni.login();
    //   const res = await login({
    //     principal: code,
    //   });
    //   uni.setStorage({
    //     key: "login",
    //     data: res.access_token,
    //   });
    // },
    //搜索 跳转详情
    toDetail() {
      uni.navigateTo({
        url: "/pages/search/index",
        query: {
          id: 9,
        },
      });
    },
    //轮播
    async Image() {
      const res = await indexImg({});
      this.IndexImg = res;
      // console.log( this.IndexImg,"轮播图");
    },
    // //轮播图 详情
    // ImgDel(id) {
    //   uni.navigateTo({
    //     url: "/pages/detail/index",
    //     query: {
    //       id,
    //     },
    //   });
    // },
    //新品推荐 跳转详情
    toClassifyPage() {
      uni.navigateTo({
        url: "/pages/Classifyy/index",
      });
    },
    //限时特惠 跳转详情
    todiscountProd() {
      uni.navigateTo({
        url: "/pages/discountProd/index",
      });
    },
    //每日疯抢 跳转详情
    tomoreBuyProd() {
      uni.navigateTo({
        url: "/pages/moreBuyProd/index",
      });
    },
    //通知数据
    async topNotice() {
      const res = await topNotice({});
      this.topNoticeList = res;
    },
    //通知 跳转详情
    toinform() {
      uni.navigateTo({
        url: "/pages/inform/index",
      });
    },
    //商品 跳详情
    async goDetail(id) {
      await this.$toPage({
        url: "/detailPkg/detail/index",
        query: {
          id,
        },
      });
    },
    //每日上新 跳转详情
    goMRsx() {
      this.$toPage({
        url: "/pages/MRsx/index",
      });
    },
    //商场热卖 跳转详情
    goSCrm() {
      this.$toPage({
        url: "/pages/SCrm/index",
      });
    },

    //标题数据
    async prodTag() {
      const res = await ProdTag({});
      this.ProdTagList = res;
      console.log(this.ProdTagList,"标题");
    },
    //每日上新 商城热卖  数据
    async prodIdList() {
      const res = await prodListById({ tagId: 1, size: 6 });
      this.ProdList = res.records;
      console.log(this.ProdList,"_____________");
    },
    //更多宝贝 数据
    async prodBabyList() {
      const res = await prodListBaby({ tagId: 3, size: 6 });
      this.ProdBabyList = res.records;
      console.log(this.ProdBabyList,"---------");
    },
  },
};
</script>

<style></style>
