<template>
  <view class="container">
    <uni-section>
      <view class="uni-padding-wrap uni-common-mt">
        <uni-segmented-control
          :current="current"
          :values="items"
          :style-type="styleType"
          :active-color="activeColor"
          @clickItem="onClickItem"
        />
      </view>
      <view class="content">
        <view v-if="current === 0">
          <view class="orderItem">
            <view v-if="all.length === 0" class="NotOrder">
              <p>还没有相关订单</p>
            </view>

            <view v-for="(item, index) in all" :key="index">
              <p class="ordertop">
                <span>订单编号:{{ item.orderNumber }} </span>
                <span class="paid" v-if="item.status === 1">待支付</span>
                <span
                  class="textS"
                  v-if="item.status === 6"
                  @click="del(item.orderNumber)"
                >
                  <text>已取消</text> |
                  <img
                    src="../../static/icon/clear-his.png"
                    alt=""
                    class="ljimg"
                  />
                </span>
              </p>

              <view
                v-for="(items, indexs) in item.orderItemDtos"
                :key="indexs"
                class="orderItems"
                @click="jumpD(item.orderNumber)"
              >
                <view class="ordertop2">
                  <view class="orderImg">
                    <img :src="items.pic" alt="" />
                  </view>

                  <view class="orderP">
                    <p>{{ items.prodName }}</p>
                    <text v-if="items.skuName">{{ items.skuName }}</text>

                    <p class="ordertwo">
                      <span>￥{{ items.price }}.00</span>
                      <span class="oraderSp">x{{ items.prodCount }}</span>
                    </p>
                  </view>
                </view>

                <view class="orderBottom11">
                  <p>
                    共计{{ items.prodCount }}件商品 合集:￥{{ items.price }}.00
                  </p>
                </view>
              </view>

              <!-- 取消订单 -->
              <view class="orderBottom">
                <p></p>
                <!-- 弹出层 -->

                <button
                  class="Btnone"
                  @click="cancel(item.orderNumber)"
                  v-if="item.status === 1"
                >
                  取消订单
                </button>

                <button class="Btnone double">再次购买</button>
                <button class="Btnone double" v-if="item.status === 1">
                  付款
                </button>
              </view>
            </view>
          </view>
        </view>
        <!-- 待支付 -->
        <view v-if="current == 1">
          <view class="orderItem">
            <view v-if="pay.length === 0" class="NotOrder">
              <p>还没有相关订单</p>
            </view>
            <view v-for="(item, index) in pay" :key="index">
              <p class="ordertop">
                <span>订单编号:{{ item.orderNumber }} </span>
                <span class="paid">待支付</span>
              </p>

              <view
                v-for="(items, indexs) in item.orderItemDtos"
                :key="indexs"
                class="orderItems"
                @click="jumpD(item.orderNumber)"
              >
                <view class="ordertop2">
                  <view class="orderImg">
                    <img :src="items.pic" alt="" />
                  </view>

                  <view class="orderP">
                    <p>{{ items.prodName }}</p>
                    <text v-if="items.skuName">{{ items.skuName }}</text>

                    <p class="ordertwo">
                      <span>￥<span>{{items.price.toFixed(2).split(".")[0]}}</span>
                        <span>.{{ items.price.toFixed(2).split(".")[1] }}</span></span>
                      <span class="oraderSp">x{{ items.prodCount }}</span>
                    </p>
                  </view>
                </view>

                <view class="orderBottom11">
                  <p>
                    共计{{ items.prodCount }}件商品 合集:<span>￥<span>{{items.price.toFixed(2).split(".")[0]}}</span>
                        <span>.{{ items.price.toFixed(2).split(".")[1] }}</span></span>
                  </p>
                </view>
              </view>

              <!-- 取消订单 -->
              <view class="orderBottom">
                <p></p>
                <!-- 弹出层 -->

                <button class="Btnone" @click="cancel(item.orderNumber)">
                  取消订单
                </button>

                <button class="Btnone double">再次购买</button>
                <button class="Btnone double" v-if="item.status === 1">
                  付款
                </button>
              </view>
            </view>
          </view>
        </view>
        <view v-if="current == 2" class="viewBox"
          ><text class="tex">还没有任何相关订单</text></view
        >
        <view v-if="current == 3" class="viewBox"
          ><text class="tex">还没有任何相关订单</text></view
        >
        <view v-if="current == 4" class="viewBox"
          ><text class="tex">还没有任何相关订单</text></view
        >
      </view>
    </uni-section>

    <div class="mask" v-if="show">
      <div class="maskBox">
        <view class="BoxOne">
          <p>要取消订单吗?</p>
        </view>
        <view class="BoxTwo">
          <p class="BoxTwoP" @click="noShow">否</p>
          <p @click="sureShow">是</p>
        </view>
      </div>
    </div>
  </view>
</template>

<script>
import { requestAll, requestnoOrder, requestDel } from "../../service/my";
export default {
  name: `OrderList`,
  data() {
    return {
      items: ["全部", "待支付", "代发货", "待收货", "已完成"],
      styles: [
        {
          value: "button",
          text: "按钮",
          checked: true,
        },
        {
          value: "text",
          text: "文字",
        },
      ],
      colors: ["#007aff", "#4cd964", "#dd524d"],
      colorIndex: 0,
      activeColor: "#ba2f16",
      styleType: "text",
      all: [],
      show: false,
      orderID: "",
      showDel: false,
      current: 0,
      pay: [],
    };
  },

  onLoad(options) {
    this.current = options.count || 0;
    this.chanegClick();
  },

  methods: {
    async onClickItem(e) {
      if (this.current !== e.currentIndex) {
        this.current = e.currentIndex;
        if (this.current == 0) {
          this.chanegClick();
        }
        if (this.current == 1) {
          this.chanegClick();
        }
      }
    },

    //默认渲染数据
    async chanegClick() {
      if (this.current == 0) {
        const { records } = await requestAll({
          current: 1,
          size: 10,
          status: this.current,
        });
        this.all = records;
      }

      //待支付
      if (this.current == 1) {
        const { records } = await requestAll({
          current: 1,
          size: 10,
          status: this.current,
        });
        this.pay = records;
      }
    },

    //点击取消订单获取编号id
    cancel(id) {
      this.show = true;
      this.orderID = id;
    },

    //取消订单 否
    noShow() {
      this.show = false;
    },

    //取消订单 是 再次请求改变数据
    async sureShow() {
      this.show = false;

      if (this.current == 0) {
        const data = await requestnoOrder(this.orderID);
        const { records } = await requestAll({
          current: 1,
          size: 10,
          status: this.current,
        });
        this.all = records;
      }

      if (this.current == 1) {
        const data = await requestnoOrder(this.orderID);
        const { records } = await requestAll({
          current: 1,
          size: 10,
          status: this.current,
        });
        this.pay = records;
      }
    },

    async del(id) {
      const that = this;
      uni.showModal({
        title: "提示",
        content: "确定要删除此订单吗?",
        confirmColor: "red",
        success: async function (res) {
          if (res.confirm) {
            //删除订单
            const res = await requestDel(id);
            //获取删除订单的数据
            const { records } = await requestAll({
              current: 1,
              size: 10,
              status: that.current,
            });
            that.all = records;
          } else if (res.cancel) {
          }
        },
      });
    },

    async jumpD(id) {
      this.$toPage({
        url: "/pages/jumpDatil/index",
        query: {
          orderNumber: id,
        },
      });
    },
  },
};
</script>

<style>
page {
  width: 100%;
  height: 100%;
  font-size: 28rpx;
  background: #fff;
}

.container {
  width: 100vw;
  height: 100vh;
}
.orderItem {
  width: 100%;
  height: 460rpx;
  box-sizing: border-box;
  padding: 0 20rpx;
}

.paid {
  color: rgb(232, 45, 45);
}

.ordertop {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.orderItems {
  margin-top: 60rpx;
  display: flex;
  flex-direction: column;
}
.ordertop2 {
  width: 100%;
  display: flex;
}

.orderImg {
  width: 160rpx;
  height: 160rpx;
}

.orderP {
  flex: 1;
  padding: 0 40rpx;
  margin-bottom: 40rpx;
}

.orderP text {
  color: #ccc;
  font-size: 24rpx;
}

.orderImg img {
  width: 100%;
  height: 100%;
}

.ordertwo {
  margin-top: 60rpx;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.oraderSp {
  color: #ccc;
}

.orderBottom {
  width: 100%;
  height: 150rpx;
  display: flex;
  margin-top: 20rpx;
}

.orderBottom p {
  flex: 4;
}
.Btnone {
  width: 168rpx;
  height: 60rpx;
  border: 1px solid #cccccc;
  font-size: 24rpx;
  line-height: 60rpx;
  border-radius: 60rpx;
  margin: 0 10rpx;
}

.double {
  border: 1px solid red;
  color: red;
}

.orderBottom11 {
  font-size: 28rpx;
  display: flex;
  justify-content: flex-end;
  height: 60rpx;
  border-bottom: 1px solid #ccc;
}

.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999;
}
.mask .maskBox {
  width: 600rpx;
  height: 300rpx;
  background: white;
  position: absolute;
  top: 50%;
  margin-top: -150rpx;
  left: 50%;
  margin-left: -300rpx;
  display: flex;
  flex-direction: column;
  border-radius: 30rpx;
}

.maskBox .BoxOne {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 7;
  font-size: 35rpx;
  font-weight: 100;
}

.maskBox .BoxTwo {
  width: 100%;
  display: flex;
  flex: 3;
  border-top: 1px solid #ccc;
  align-items: center;
}

.BoxTwo p {
  flex: 1;
  text-align: center;
  font-weight: 900;
  font-size: 35rpx;
  color: #3e62ad;
}

.textS text {
  padding: 0 10rpx;
  color: #ccc;
}

.ljimg {
  width: 32rpx;
  height: 32rpx;
  vertical-align: middle;
  padding: 0 10rpx;
}

.NotOrder {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 120rpx;
  color: rgb(169, 164, 164);
}
.viewBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.viewBox .tex {
  color: rgb(181, 180, 180);
  display: block;
  margin-top: 60rpx;
}
</style>
