<template>
  <view class="placeOrders">
    <view class="address_order">
      <view class="address_addr">
        <view v-if="addr.length === 0">
          <view class="address_img" >
            <img src="@/static/icon/addr.png" alt="" /></view>
          <text @click="toAddress">新增收货地址</text>
        </view>
        <view v-else class="address_address">
          <dl>
            <dt class="address_img" @click="toAddress">
              <img src="@/static/icon/addr.png" alt="" />
            </dt>
            <dd>
              <view class="address_conents">
                <view>{{ addr.receiver }} {{ addr.mobile }}</view>
                <view class="address_color" >
                  {{ addr.province }}/{{ addr.city }}/{{ addr.area }}/{{ addr.addr}}
                  </view>
              </view>
              <view class="address_to" @click="toAddress"> > </view>
            </dd>
          </dl>
        </view>
      </view>
    </view>
    <!-- 商品列表 -->
    <view class="conent_place">
      <dl v-for="item in subListData" :key="item.basketId" class="ShopCarItems">
        <dt class="dtt">
          <image class="imgs" :src="item.pic" />
        </dt>
        <dd>
          <p class="prod-name">{{ item.prodName }}</p>
          <p class="prod-info-text">{{ item.skuName }}</p>
          <view class="large-box">
            <view class="price">
              <text class="symbol">￥ {{ item.price }}</text>
            </view>
            <view class="Goodsnumber">X {{ item.prodCount }}</view>
          </view>
        </dd>
      </dl>
      <view class="gong">
        <view class="gong_right">
          <text> 共{{ totalCount }}件商品，合计： </text>
          <text class="right_color"> ￥ {{ total }} </text>
        </view>
      </view>
      <view> </view>
    </view>
    <!-- 优惠券 -->
    <view class="order_msg">
      <view>
        <view @click="showCab" class="msg_item">
          <text>
            优惠券：{{
              distributionCardno.length > 0 ? "有优惠券" : "暂无可用"
            }}
          </text>
          <text>{{ distributionCardno.length }} 张 ></text>
        </view>
        <view class="item">
          <text>买家留言：</text>
          <input
            :value="remarks"
            placeholder="给卖家留言"
            type="text"
            @change="onRemarksInput" />
        </view>
      </view>
    </view>
    <view class="order_msgs">
      <view class="order_msg_item">
        <view class="msg_item">
          <text>订单总额：</text>
          <view class="right_color"> ￥ {{ actualTotal }} </view>
        </view>
        <view class="msg_item">
          <text> 运费： </text>
          <view class="right_color">￥ {{ transfee }} </view>
        </view>
        <view class="msg_item">
          <text>优惠金额：</text>
          <view class="right_color"> -￥{{ shareReduce }} </view>
        </view>
        <view class="msg_item">
          <text>小计：</text>
          <view class="right_color"> ￥{{ total }}</view>
        </view>
        <view class="di"></view>
      </view>
    </view>
    <!-- 底部 -->
    <view class="floor-place">
      <view>
        合计：<text class="textMoney">￥ {{ total }}</text>
      </view>
      <view class="buts" @click="goPay">提交订单</view>
    </view>
    <!-- 优惠券弹框 -->
    <view class="coupons" v-show="isShow">
      <view class="coupons_bulletFrame">
        <text>优惠券</text>
        <text @click="show">X</text>
      </view>
      <view class="coupons_conent">
        <view class="couponsConentTitle">
          <text
            bindtap="couponsConentTitleItem"
            data-sts="1"
            class="coupons_tab {couponSts==1?'on':''}"
          >
            可用优惠券（{{ distributionCardno.length }}）</text
          >
          <text
            bindtap="couponsConentTitleItem"
            data-sts="2"
            class="coupons_tab"
          >
            不可用优惠券（0）</text
          >
        </view>
        <view> </view>
      </view>
    </view>
  </view>
</template>

<script>
import { postOrderList, postSubmit, postPay } from "../../service/placeOrder";
export default {
  data() {
    return {
      orderList: [], //
      subListData: [], //
      distributionCardno: [], //优惠券
      totalCount: 0, //总共多少件
      total: 0, //总价
      addr: {},
      addrId: 0,
      prodId: 0,
      skuId: 0,
      prodCount: 0,
      shopId: 0,
      finalMoney: 0,
      isShow: false,
      remarks: "",
      actualTotal: 0,
      transfee: 0,
      shareReduce: 0,
      orderNumders: "",
    };
  },
  onLoad(options) {
    if (options.type === "goodsDetails") {
      //直接购买
      this.addrId = options.addrId || this.addrId;
      this.prodId = options.prodId;
      this.skuId = options.skuId;
      this.prodCount = options.prodCount;
      this.shopId = options.shopId;
      this.detalData();
    } else {
      this.orderList = options.id.split(",");
      this.addrId = options.addrId || this.addrId;
      this.orderData();
    }
    this.submitOrder();
  },
  methods: {
    //提交订单
    async goPay() {
      try {
        const cloud = await this.$cloud;
        const { result } = await cloud.callFunction({
          name: "payment",
        });////////
        delete result.payment.appId;
        const data = await wx.requestPayment({
          ...result.payment,
        });
        this.$toPage({
          url: "/pages/payRouter/index",
          query: {
            sts: 1,
            type: "success",
          },
        });
      } catch (error) {
        this.$toPage({
          url: "/pages/payRouter/index",
          query: {
            sts: 0,
            type: "error",
          },
        });
      }
    },
    async detalData() {
      //直接购买
      const res = await postOrderList({
        addrId: this.addrId,
        orderItem: {
          prodId: this.prodId,
          skuId: this.skuId,
          prodCount: this.prodCount,
          shopId: this.shopId,
        },
        couponIds: [],
        userChangCoupon: 1,
      });
      //  console.log(res,"res");
      this.subListData =
        res.shopCartOrders[0].shopCartItemDiscounts[0].shopCartItems;
      //  console.log(this.subListData,"this.subListData");
      this.subListData.forEach((item) => {
        if (item.distributionCardno !== null) {
          this.distributionCardno.push(item.distributionCardno);
        }
      });
      this.addr = res.userAddr;
      console.log(this.addr, "this.addr");
      this.addrId = res.addrId;
      this.total = res.total; //总价
      this.totalCount = res.totalCount; //需要结算商品的数量
      this.actualTotal = res.shopCartOrders[0].actualTotal;
      this.transfee = res.shopCartOrders[0].transfee;
      this.shareReduce = res.shopCartOrders[0].shopReduce;
    },
    async orderData() {
      //购物车
      const res = await postOrderList({
        addrId: this.addrId,
        basketIds: this.orderList,
        couponIds: [],
        userChangCoupon: 1,
      });
      //  console.log(res,"res");
      this.subListData =
        res.shopCartOrders[0].shopCartItemDiscounts[0].shopCartItems;

      this.subListData.forEach((item) => {
        if (item.distributionCardno !== null) {
          this.distributionCardno.push(item.distributionCardno);
        }
      });
      this.addr = res.userAddr;
      console.log(this.addr, "this.addr");
      this.addrId = res.addrId;
      this.total = res.total; //总价
      this.totalCount = res.totalCount; //需要结算商品的数量
      this.actualTotal = res.shopCartOrders[0].actualTotal;
      this.transfee = res.shopCartOrders[0].transfee;
      this.shareReduce = res.shopCartOrders[0].shareReduce;
      // console.log(this.shareReduce,'this.shareReduce');
    },
    async submitOrder() {
      const res = await postSubmit({ remarks: "", shopId: 1 });
      this.orderNumders = res.orderNumders;
    },
    //买家留言
    onRemarksInput() {
      console.log("留言");
    },
    //点击优惠券弹框
    showCab() {
      this.isShow = !this.isShow;
    },
    //退出优惠券弹框
    show() {
      this.isShow = !this.isShow;
    },
    //跳转到 获取地址
    toAddress() {
      //
      this.$toPage({
        url: "/pages/address/address",
        query: {
          basketIds: this.orderList,
          type: "order",
        },
      });
    },
  },
};
</script>

<style>
.placeOrders {
  background: #f8f8f8;
}
.floor-place {
  width: 100%;
  height: 80rpx;
  border-top: 1px #ccc solid;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.di {
  width: 100%;
  height: 80rpx;
  background: #fff;
}
.symbol {
  color: #f00;
}
.buts {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #f00;
}
.textMoney {
  color: #f00;
}
.conent_place {
  width: 100%;
}
.ShopCarItems {
  width: 100%;
  background: #fff;
  height: 100px;
  border-top: 1px #ccc solid;
}
.ShopCarItems dt {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.conent_place dl dt {
  margin-top: 10px;
}
.conent_place dl dd {
  margin-top: 10px;
}
.Goodsnumber {
  color: #ccc;
}
.imgs {
  width: 80px;
  height: 80px;
}
.large-box {
  position: absolute;
  right: 5px;
  width: calc(100% - 100px);
  display: flex;
  justify-content: space-between;
}
.gong {
  width: 100%;
  height: 30px;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.gong_right {
  position: absolute;
  right: 10px;
}
.msg_item {
  width: 100%;
  height: 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item {
  width: 100%;
  height: 30px;
  background: #fff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.right_color {
  color: #f00;
}
.order_msgs {
  width: 100%;
  display: flex;
  justify-content: center;
}
.order_msg_item {
  width: 95%;
}
.coupons {
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  bottom: 80rpx;
  z-index: 99;
  border-top: 1px #ccc solid;
}
.coupons_bulletFrame {
  width: 96%;
  height: 40px;
  border-bottom: 1px #ccc solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coupons_conent {
  width: 96%;
  height: 300rpx;
}
.couponsConentTitle {
  width: 100%;
  height: 50rpx;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.coupons_tab.on {
  border-bottom: 2px #f00 solid;
}

.address_order {
  width: 100%;
  height: 150rpx;
  background: #fff;
}

.address_img {
  width: 80rpx;
  height: 150rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.address_img img {
  width: 60rpx;
  height: 60rpx;
}

.address_address {
  width: 100%;
}

.address_address dl {
  width: 100%;
  height: 100%;
}
.address_address dl dt {
  float: left;
  margin-right: 20rpx;
}
.address_address dl dd {
  height: 100%;
  width: calc(100% - 100rpx);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.address_conents {
  width: 80%;
  height: 100%;
}
.address_color {
  color: #ccc;
  font-size: 14px;
}
.address_to {
  color: #ccc;
  margin-right: 10rpx;
  font-size: 18px;
}
</style>