<template>
  <view class="conents">
      <view v-if="sts==0" class="conents_payment">
        <view class="payment_shibai">
            支付失败
        </view>
        <view>
            请在 <text>30分钟</text>内完成付款
        </view>
        <view>否则订单会被系统取消</view>
        <view class="payment_but">
            <text class="but_can" @click="toOrderlist">查看订单</text>
            <text class="but_pay" bindtp="payAgain">重新支付</text>
        </view>
      </view>
      <view v-if="sts==1" class="conents_payment">
         <view class="payment_chenggong">
            支付成功
        </view>
        <view>感谢您的购买</view>
        <view class="payment_but">
            <text @click="toOrderlist">查看订单</text>
            <text>继续购物</text>
        </view>
      </view>
  </view>
</template>

<script>
export default {
   data(){
       return{
            sts:0,
       }
   },
   onLoad(options) {
      if(options.type==="success"){
          this.sts=options.sts
      }else if(options.type==="error"){
          this.sts=options.sts
      }
   },
   methods: {
       async toOrderlist(){
           this.$toPage({
               url:"/pages/Orderlist/list"
           })
       },
   },
}
</script>

<style>
.conents{
    width: 100%;height: 100%;position: relative;
}
.conents_payment{
    position: absolute;left: 50%;top: 50%;
    width: 400rpx;
    height: 400rpx;
    margin-left: -200rpx;
    margin-top: 200rpx;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20rpx;
}
.payment_shibai{color: #f00;margin-top: 20rpx;}
.payment_chenggong{color: #0f0;margin-top: 20rpx;}
.payment_but{width: 80%;display: flex;justify-content:space-between}
.but_can{width: 150rpx; height: 60rpx; background: rgb(50, 116, 238);color: #fff;border-radius: 5rpx;
         display: flex;justify-content:center;align-items: center;}
.but_pay{width: 150rpx; height: 60rpx;border-radius: 5rpx;color: rgb(235, 235, 14);
         display: flex;justify-content:center;align-items: center;border: rgb(235, 235, 14) solid 1px;}
</style>